.game-canvas {
  background-color: lightblue;
  background-image: url('../public/assets/Socks-backdrop.jpg');
  background-size: cover;
  width: 800px;
  height: 600;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-overlay,
.win-overlay,
.lose-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.start-overlay button,
.win-overlay button,
.lose-overlay button {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}